export(gtf2table)
export(periodicity)
export(select.FPlen)
export(enrichmentNoccupancy)
export(enricht.aroundA)
export(generate.m.s)
export(visu.m.s.enrichmnt)
export(visu.tracks)
export(repl.correl.counts.Venn)
export(repl.correl.gene)
export(repl.correl.codon)
export(repl.correl.heatmap)
export(chx.artefacts)
export(ntcodon.freq.nt)
export(ntcodon.freq.cod)
export(batch.effects.lm.e)
export(batch.effects.pca)
export(metagene.all)
export(outputQc)
export(outputMine)
export(Venn.all)
importFrom("grDevices", "dev.off", "dev.cur", "png", "svg", "tiff")
importFrom("graphics", "abline", "axis", "legend", "lines", "mtext","par", "plot", "text")
importFrom("utils", "read.table", "capture.output")
importFrom("VennDiagram", "add.title")
importFrom("grid", "grid.draw")
importFrom("stats", "phyper")
importFrom("R.devices", "suppressGraphics")

